.locationwithprices-container{
  width: 90vw;
  height: 50vh;
  border-radius: 30px;
  background-color: rgb(253, 239, 241);
  display: grid;
  grid-template-areas:
  'img column-2 column-3'; 
}
/* column-1 */
.locationwithprices-img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  grid-area: img;
  overflow: hidden;
  background: url(../../images/locationwithprices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* column-2 */
.column-2{
  display: grid;
  grid-area: column-2;
  grid-template-areas:
    'title'
    'desc'
    'desc'
    'desc'
    'desc'
    'desc'
    'extra';
}
.locationwithprices-title{
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.locationwithprices-desc{
  grid-area: desc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* extra */
.locationwithprices-extra{
  margin: 2% 20%;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  grid-area: extra;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.extra-stay{
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra-capacity{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra-location{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* column-3 */
.column-3{
  display: grid;
  grid-area: column-3;
  grid-template-areas:
  'prices'
  'prices'
  'prices'
  'prices'
  'prices'
  'prices'
  'prices'
  'reserve';
}
.locationwithprices-prices{
  grid-area: prices;
}

.locationwithprices-reserve{
  grid-area: reserve;
}

/* Reserve */
.locationwithprices-reserve{
  border-bottom-right-radius: 30px;
  display: grid;
  grid-template-areas:
    'title btn'
    'price btn';
}
.reserve-title{
  grid-area: title;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 10px;
  color: grey;
}
.reserve-price{
  grid-area: price;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}
.reserve-btn{
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-btn button{
  color: white;
  background-color: #ff385c;
  border: 2px solid #ff385c;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.reserve-btn button:hover{
  color: #ff385c;
  background-color: white;
}